<h1>Make Voting Great Again</h1>
<p class="lead">
  You have landed on an interface for a decentralized voting application.
  In other words, this is a portal into Web3. Conveniently, we have
  created this portal to allow users to vote in a decentralized manner.
  This landing page is an illusion. We know that from here you will tumble
  down the rabbit hole of expansive universe of Web3!
</p>
<p class="lead">
  <a
    href="https://ethereum.org/en/web3/"
    class="btn btn-lg btn-secondary fw-bold border-white bg-white"
    >Learn more</a
  >
</p>
