<div class="container text-center">
  <div class="row" *ngIf="!wallet">
    <h4 class="mb-4">Choose your connection method</h4>
    <div class="col">
      <button
        (click)="createWallet()"
        class="btn btn-md btn-secondary px-3 fs-5 border-white bg-white"
        type="button"
      >
        Create Wallet
      </button>
    </div>
    <div class="col">
      <button
        class="btn btn-md btn-secondary px-3 fs-5 border-white bg-white"
        type="button"
      >
        Connect Wallet
      </button>
    </div>
    <div class="col">
      <button
        class="btn btn-md btn-secondary px-3 fs-5 border-white bg-white"
        type="button"
      >
        Import Wallet
      </button>
    </div>
  </div>
  <div class="row" *ngIf="wallet">
    <h4 class="mb-4">Your Ballot Wallet</h4>
    <p class="mb-4">This is your address: {{ wallet.address }}</p>
    <p class="mb-4">The token contract is: {{ tokenContractAddress }}</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <div class="card col p-2 m-2 text-secondary px-3">
        <p>Ether Balance: {{ etherBalance }}</p>
      </div>
      <div class="card col p-2 m-2 text-secondary px-3">
        <p>Tokens Balance: {{ tokenBalance }}</p>
      </div>
      <div class="card col p-2 m-2 text-secondary px-3">
        <p>Voting Balance: {{ votePower }}</p>
      </div>
    </div>
  </div>
  <!-- TODO: add div showing proposals, proposals vote count -->
  <div *ngIf="wallet" class="col p-2 m-2 text-secondary px-3">
    <input
      #voteId
      type="number"
      min="0"
      [max]="votePower"
      placeholder="0"
      class="py-3"
    />
    <button
      class="btn btn-sm btn-secondary px-4 fs-5 border-black bg-black mx-2 text-white"
      type="button"
      (click)="vote(voteId.value)"
    >
      Vote
    </button>
  </div>
  <div *ngIf="wallet" class="col p-2 m-2 text-secondary px-3">
    <input
      #tokenId
      type="number"
      min="0"
      placeholder="0"
      class="py-3"
    />
    <button
      class="btn btn-sm btn-secondary px-4 fs-5 border-black bg-black mx-2 text-white"
      type="button"
      (click)="requestTokens(tokenId.value)"
    >
      Request Tokens
    </button>
  </div>
  <div *ngIf="wallet" class="col p-2 m-2 text-secondary px-3">
    <button
      class="btn btn-sm btn-secondary px-4 fs-5 border-black bg-black mx-2 text-white"
      type="button"
      (click)="delegate()"
    >
      Delegate
    </button>
  </div>
</div>
